.date {
  margin-bottom: 20px;

  label {
    font-size: 12px;
    margin-right: 20px;
  }

  input {
    border: 2px solid #dddddd;
    border-radius: 5px;
    height: 20px;

    &:focus {
      outline: none;
    }
  }
}
