body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika";
}

.app {
  margin: 40px;
  display: flex;
}

.menu-container {
  flex: 2;
  margin: 0 20px;
}

.content-container {
  flex: 5;
  margin: 0 20px;
}

.content-filters {
  border-bottom: 1px solid #dddddd;
}
