.matchups {
  display: flex;

  section {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
  }

  section:last-child {
    border: none;
  }

  div {
    font-size: 14px;
  }

  .matchup-hitter,
  .matchup-pitcher {
    flex: 1;
    padding: 20px;
  }

  .matchup-player-traits {
    margin: 20px 0;
  }

  .matchup-player-trait,
  .matchup-player-header {
    display: flex;

    div {
      flex: 1;
      text-align: center;
    }

    .matchup-player-name {
      flex: 2;
      text-align: left;
    }

    .matchup-player-salary {
      flex: 2;
    }

    .matchup-value {
      flex: 1;
      text-align: right;
      margin: 0;
    }
  }

  .row-titles {
    text-decoration: underline;
    margin-bottom: 4px;
  }
}

.matchup-pitcher-logs {
  display: flex;
  padding: 4px;

  div {
    flex: 3;
  }

  .matchup-pitcher-log-points {
    flex: 1;
    text-align: right;
  }
}

.matchup-player-trait {
  padding: 4px;
}

.matchup-player-trait:nth-child(even),
.matchup-pitcher-logs:nth-child(even) {
  background: aliceblue;
}

.matchup-date {
  font-size: 22px;
  text-align: center;
}
