.player-container {
  display: flex;

  .player-info {
    flex: 1;
  }

  .player-body {
    flex: 3;
    padding-left: 20px;
  }
}

.player-header {
  display: flex;
  margin-bottom: 12px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 8px;
  position: relative;
  margin-right: 20px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
  }

  img {
    width: 20px;
    height: 20px;
  }

  .jersey-number {
    background: aliceblue;
    width: 40px;
    height: 40px;
    align-items: center;
    border-radius: 8px;
  }
}

.player-body {
  display: flex;

  .player-logs {
    flex: 3;
    font-size: 12px;

    .player-log {
      display: flex;

      div {
        flex: 1;
        border: 1px solid #dddddd;
        padding: 4px 12px;
        text-align: center;
      }

      .large-cell {
        flex: 2;
        text-align: left;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: gray;
        }
      }
    }
  }

  .player-chart {
    flex: 1;
  }
}

.is-sparq {
  background: lightgreen;
}

.ruled-out {
  background: lightcoral;
}

.in-streak {
  background: lightgreen;
}
